
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="4px" style="margin-top:6%;">
            <img src="assets/images/others/agriculture.png" alt="" style="width: 83%;height: 80%; ">
        </div>
        <div fxLayout="row" fxLayoutGap="4px" style="margin-top:12%;">
            <img src="assets/images/others/ecommerce.png" alt="" style="width: 83%;height: 80%;">    
        </div>
        <div fxLayout="row" fxLayoutGap="4px" style="margin-top:12%;"> 
         <img src="assets/images/others/techno.png" alt="" style="margin-top:6%;width: 83%;height: 80%;">
            
        </div>
        <div fxLayout="row" fxLayoutGap="4px" style="margin-top:12%;"> 
                <img src="assets/images/others/elevage.png" alt="" style="margin-top:6%;width: 83%;height: 80%;">
                   
     </div>
        <div fxLayout="row" fxLayoutGap="4px">
            
        </div>
    </div>
