<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" class="toolbar" fxLayoutAlign="center center">
    <h1>DEMANDE DE FINANCEMENT</h1>
  </div>
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutGap="5px">
      <div fxFlex="60">
        <span>
          <h3>INFORMATIONS PERSONNELLES</h3>
          <mat-divider></mat-divider>
        </span>
        <div class="form-container">
          <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
            <mat-form-field style="width:50%">
              <input matInput placeholder="Nom" disabled value="{{utilisateur.firstName}}">
            </mat-form-field>
            <mat-form-field style="width:50%">
              <input matInput placeholder="Email" disabled value="{{utilisateur.mail}}">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
            <mat-form-field style="width:50%">
              <input matInput placeholder="Prenom" disabled value="{{utilisateur.lastName}}">
            </mat-form-field>
            <mat-form-field style="width:50%"> 
              <input matInput placeholder="Telephone" disabled value="{{utilisateur.phoneNumber}}">
            </mat-form-field>
          </div>
          <!-- <div fxLayout="column" fxLayoutGap="20px">
            <mat-form-field style="width:50%">
              <textarea matInput placeholder="Adresse"></textarea>
            </mat-form-field>
          </div> -->
        </div>
      </div>
      <div fxFlex="40">
          <div fxLayout="row">
              <span style="width:100%">
                  <h3>DESTINATAIRES</h3>
                  <mat-divider></mat-divider>
                </span>
          </div>
          <mat-form-field style="width:100%">
              <mat-select value="none">
                <mat-option value="none">Veuillez choisir un destinataire</mat-option>
                <mat-option value="animateur">Animateur</mat-option>
                <mat-option value="banque">Banque</mat-option>
              </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
  
  <div fxLayout="column">
      <div fxLayoutAlign="center center" >
        <h2>LISTE DES PRODUITS ASSOCIÉS</h2>
      </div>
      
        <form>
          <div fxLayout="row" fxLayoutGap="50px">
              <div>
                  <mat-form-field>
                    <mat-select placeholder="Choisir un Fournisseur" [formControl]="key" [(ngModel)]="fournisseur.key">
                      <mat-option *ngFor="let f of listFournisseur" [value]='f.key'>{{f.nom}} {{f.prenom}}</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div>
                  <button mat-raised-button (click)="getListProduit()" color="accent">rechercher</button>
              </div> 
          </div>
        </form> 
      
      <div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
            
              <!-- Position Column -->
              <!-- <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container> -->
            
              <!-- Name Column -->
              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> Code </th>
                <td mat-cell *matCellDef="let element"> {{element.code}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef> Designation </th>
                <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="descriptionProduit">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.descriptionProduit}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="prixUnitaire">
                  <th mat-header-cell *matHeaderCellDef> Prix </th>
                  <td mat-cell *matCellDef="let element"> {{element.prixUnitaire}} </td>
                </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                  (click)="selection.toggle(row)">
              </tr>
          </table>
      </div>
      
  </div>
  <div fxLayout="row" class="px-4" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutGap="40px">
    <button mat-raised-button color="accent">Enregistrer la demande</button>
    <button mat-raised-button color="warn">annuler</button>
  </div>
</div>