<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" class="toolbar">
    <h1>SAISIE DEMANDE DE FINANCEMENT</h1>
  </div>
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutGap="5px">
      <div fxFlex="100">
        <span>
          <h3>INFORMATIONS PERSONNELLES</h3>
          <mat-divider></mat-divider>
        </span>
        <div class="form-container">
          <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
            <mat-form-field>
              <input matInput placeholder="Nom">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
            <mat-form-field>
              <input matInput placeholder="Prenom">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Telephone">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
            <mat-form-field>
              <input matInput placeholder="Fonction">
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutGap="20px">
            <mat-form-field>
              <textarea matInput placeholder="Adresse"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div fxLayout="row" class="px-4" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutGap="40px">
    <button mat-raised-button color="accent">Enregistrer la demande</button>
    <button mat-raised-button color="warn">Rejeter</button>
  </div>
</div>