<div class="demo-sidebar">
    <mat-list>
        <h1> 
            <span style="display:inline-flex">
                <img src="assets/images/FilterCat/FineTech_PS_Elmt_FilterCat_HeaderMark.png" alt="">
            </span>  
            Domaine
        </h1>

        <mat-list-item>
           <mat-checkbox color="primary">
               <span style="display:inline-flex">
                   <img src="assets/images/FilterCat/FineTech_PS_Elmt_FilterCat_TagLegend_Clr_1.png">
                </span>
                <span>Agriculture</span> 
            </mat-checkbox>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <span>
                <mat-checkbox color="primary">
                    <span style="display:inline-flex"><img src="assets/images/FilterCat/FineTech_PS_Elmt_FilterCat_TagLegend_Clr_2.png"></span> 
                    <span>Pèche</span>
                </mat-checkbox>
            </span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <span>
                <mat-checkbox color="primary">
                    <span style="display:inline-flex">
                        <img src="assets/images/FilterCat/FineTech_PS_Elmt_FilterCat_TagLegend_Clr_3.png">
                    </span>
                    <span>Artisanat</span>
                </mat-checkbox>
            </span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <span>
                <mat-checkbox color="primary">
                    <span style="display:inline-flex">
                        <img src="assets/images/FilterCat/FineTech_PS_Elmt_FilterCat_TagLegend_Clr_4.png">
                    </span>
                    <span>Elevage</span>
                </mat-checkbox>
            </span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-checkbox color="primary">
                <span style="display:inline-flex">
                    <img src="assets/images/FilterCat/FineTech_PS_Elmt_FilterCat_TagLegend_Clr_5.png">
                </span>
                <span>Technologie</span>
            </mat-checkbox>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-checkbox color="primary">
                <span style="display:inline-flex">
                    <img src="assets/images/FilterCat/FineTech_PS_Elmt_FilterCat_TagLegend_Clr_5.png">
                </span>
                <span>Commerce</span>
            </mat-checkbox>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div fxLayoutAlign="end">
            <a class="plus" [routerLink]="['.']">
                <div style="display:inline-flex">
                    <span style=" padding-top: 4px;">Plus de Filtres</span>     
                    <mat-icon>expand_more</mat-icon>
                </div>
            </a><br>
        </div>
    </mat-list>

    <mat-list>
        <h1>
            <span style="display:inline-flex">
                <img src="assets/images/FilterCat/FineTech_PS_Elmt_FilterCat_HeaderMark.png" alt="">
            </span>
            Prix
        </h1>
    
        <mat-list-item>
            <mat-checkbox color="primary">
                <span>0 - 500</span>
            </mat-checkbox>
        </mat-list-item>
    
        <mat-divider></mat-divider>
    
        <mat-list-item>
            <span>
                <mat-checkbox color="primary">
                    <span>500 - 1000</span>
                </mat-checkbox>
            </span>
        </mat-list-item>
    
        <mat-divider></mat-divider>
    
        <mat-list-item>
            <span>
                <mat-checkbox color="primary">
                    <span>1000 - 5000</span>
                </mat-checkbox>
            </span>
        </mat-list-item>
    
        <mat-divider></mat-divider>
    
        <mat-list-item>
            <span>
                <mat-checkbox color="primary">
                    <span>5000 - 10 000</span>
                </mat-checkbox>
            </span>
        </mat-list-item>
    
        <mat-divider></mat-divider>
        <div fxLayoutAlign="end">
            <a class="plus" [routerLink]="['.']">
                <div style="display:inline-flex">
                    <span style=" padding-top: 4px;">Plus de Filtres</span>
                    <mat-icon>expand_more</mat-icon>
                </div>
            </a>
            <br>
        </div>
    </mat-list>


    <mat-list>
        <h1>
            <span style="display:inline-flex">
                <img src="assets/images/FilterCat/FineTech_PS_Elmt_FilterCat_HeaderMark.png" alt="">
            </span>
             Filière
        </h1>
        
        <mat-list-item>
            <span>
                 Riz
            </span>
        </mat-list-item>
    
        <mat-divider></mat-divider>
    
        <mat-list-item>
            <span>
                Coton
            </span>
        </mat-list-item>
    
        <mat-divider></mat-divider>
    
        <mat-list-item>
            <span>
                Pisciculture
            </span>
        </mat-list-item>
    
        <mat-divider></mat-divider>
    
        <mat-list-item>
            <span>
                Aviculture
            </span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div fxLayoutAlign="end">
            <a class="plus" [routerLink]="['.']">
                <div style="display:inline-flex">
                    <span style=" padding-top: 4px;">Plus de Filtres</span>
                    <mat-icon>expand_more</mat-icon>
                </div>
            </a>
            <br>
        </div>
    </mat-list>
</div>
