<div fxLayout="row">
        <mat-card fxLex="30" fxFlexOffset="15"  class="mat-card-img back-img">
          <img mat-card-image class="img-card" src="../../assets/images/cards/registration.png">
        </mat-card>  
        <mat-card fxLex="40" class="mat-card-resgistration">
            <mat-card-title>
               <h2>Inscription</h2>
            </mat-card-title>
            <form>
            <mat-card-content>
                <mat-form-field class="example-full-width">
                   <input matInput placeholder="Nom" required>
                </mat-form-field >
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Prenom" required>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email" [formControl]="email" required>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Mot de Passe" [type]="hide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Confirmer le Mot de Passe" [type]="hide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Selectioner" disableRipple required [formControl]="selectFormControl">
                    <mat-option value="anim">Animateur</mat-option>
                    <mat-option value="fourni">Fournissaur</mat-option>
                    <mat-option value="achet">Acheteur</mat-option>
                </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Adress">
                </mat-form-field>
                <mat-form-field class="example-full-width"> 
                  <input matInput placeholder="Téléphone" required>
                </mat-form-field>
            </mat-card-content>
            
              <mat-card-actions>
                <button mat-raised-button class="color-button-validate">Enregistrer</button>
                <button mat-button color="warn">Annuler</button>
              </mat-card-actions>
            </form>
        </mat-card> 
</div>


