<div class="container">
        <mat-card fxLex="30" fxFlexOffset="15"  class="mat-card-img back-img">
        <!--  <img mat-card-image class="img-card" src="../../assets/images/others/inscription.jpg">-->
        </mat-card>  
        <mat-card fxLex="40" class="mat-card-resgistration">
            <mat-card-content>
                <form>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="login" [(ngModel)]="utilisateur.username" name="username">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                   <input matInput placeholder="Nom"  [(ngModel)]="utilisateur.lastName" name="lastName" required>
                </mat-form-field >
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Prenom"  [(ngModel)] ="utilisateur.firstName" name="firstName" required>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email" [formControl]="email"  [(ngModel)]="utilisateur.mail" name="mail" required>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Mot de Passe" [type]="hide ? 'password' : 'text'"  [(ngModel)]="utilisateur.password" name= "password" required>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
              <!--   <mat-form-field class="example-full-width">
                  <input matInput placeholder="Confirmer le Mot de Passe" [type]="hide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field> -->
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Selectioner"  [(value)]="selectedType" name="type" disableRipple required [formControl]="selectFormControl">
                    <mat-option *ngFor="let type of typeActeurs" [value]="type.libelleActeur">{{type.libelleActeur}}</mat-option>
                </mat-select>
                </mat-form-field>
                
                <mat-form-field class="example-full-width"> 
                  <input matInput placeholder="Téléphone"  [(ngModel)]="utilisateur.phoneNumber" name="phoneNumber" required>
                </mat-form-field>
              </form>
            </mat-card-content>
            
              <mat-card-actions>
                <button mat-raised-button class="color-button-validate" (click)="createUser()">Enregistrer</button>
                <button mat-raised-button color="warn" class="color-button-cancel">Annuler</button>
              </mat-card-actions>
            
        </mat-card> 
</div>


