.container{
  background-image: url("../../assets/images/others/inscription.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 105%;
}
.mat-card-img {
    margin-top: 50px;
    margin-bottom: 50px;
    background-size: cover;
    padding: 0%;
    max-height: 600px;
    border-radius: 1rem;
}

 .img-card {
  border-radius: 1rem;
  width: 100%;
 
 }

 h2 {
   text-align:center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color : #6c4600;
 }

 .color-button-validate{
  background-color: #e2fea6 !important;
  color:  #6c4600!important;
}

.mat-card-resgistration{
  //margin-right: 15%;
  margin-left: 0%;
  margin-top: 70px;
  padding: 16px;
  margin-left: 36%;
  margin-bottom: 25px;
  width: 33%;

}
.example-full-width {
  width: 100%;
}
.mat-card-image:first-child{
  margin : 0px;
}
.mat-card-image {
  height: 600px;
}
.mat-card-actions{
   margin: 0px;
   padding: 8px;
}
.color-button-cancel{
  background-color: #f9f7da !important;
  color:  red!important; 
}