
<mat-dialog-content class="mat-typography">
    <div class="title">
        <h2 mat-dialog-title >Demande Agreement</h2>
        </div>
<form class="example-container">
        <div fxLayout="column" fxFlex="50px">
                <div fxLayout="row"fxLayout.xs="column" fxLayoutGap="5px">
                    <div style="margin-left:461%;margin-top:-17%">
                        <mat-form-field >
                            <mat-select placeholder="Destiné à" [(ngModel)]="agreement.destinataireID" [formControl]="destinataireID">
                            <mat-option value="banque">Banque</mat-option>
                            <mat-option value="animateur">Animateur</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
             
                  <div fxLayout="row" style="margin-top: -3%;"fxLayout.xs="column" fxLayoutGap="5px">
                    <div>
                          <mat-form-field>
                              <mat-select placeholder="Role demandé" >
                                <mat-option value="option">Fournisseur</mat-option>
                              </mat-select>
                          </mat-form-field>
                    </div> 
                     <div >
                               <mat-form-field >
                                   <mat-select placeholder="Niveau Agreement"  [(ngModel)]="agreement.niveauAgreement" [formControl]="niveauAgreement" >
                                    <mat-option value="1">Niveau agreement 1</mat-option>
                                    <mat-option value="2">Niveau agreement 2</mat-option> 
                                    <mat-option value="3">Niveau agreement 3</mat-option>
                                   </mat-select>
                               </mat-form-field>
                     </div> 
                  </div>
                    <div fxLayout="row" style="margin-top: 40%;"fxLayout.xs="column" fxLayoutGap="5px">
                        <div style="margin-left: 287%;margin-top: -68%;">
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Objet de la demande" [(ngModel)]="agreement.description" [formControl]="description"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
              </div>
  
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="true" cdkFocusInitial (click)="createNewAgreement()"><mat-icon matPrefix>save_alt</mat-icon>Enregistrer</button>
</mat-dialog-actions>