<div fxLayout="row" fxLayoutAlign="center center" class="title-top">
  <div><h2 class="title">SUIVI PRODUITS</h2></div>
</div>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <!-- <ng-container matColumnDef="NoFoProduit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # Produit </th>
      <td mat-cell *matCellDef="let row"> {{row.NoFoProduit}} </td>
    </ng-container> -->
<!-- Image Column -->
<ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
    <td mat-cell *matCellDef="let row">
        <img
             *ngIf="row.image" [alt]="row.ref"
             [src]="row.image"/>
        <img *ngIf="!row.image" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
    </td>
</ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
      <td mat-cell *matCellDef="let row"> {{row.code}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="designation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
      <td mat-cell *matCellDef="let row"> {{row.designation}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="prixUnitaire">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix Unitaire </th>
      <td mat-cell *matCellDef="let row"> {{row.prixUnitaire}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="descriptionProduit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let row"> {{row.descriptionProduit}} </td>
      </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="Details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Details </th>
      <td mat-cell *matCellDef="let row"> {{row.Details}}<button mat-icon-button><mat-icon>dehaze</mat-icon></button></td>
    </ng-container>

    <!-- Color Column -->
    <!-- <ng-container matColumnDef="Modifier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Modifier </th>
      <td mat-cell *matCellDef="let row"> {{row.Modifier}}<button mat-icon-button (click)="crudComp.openUpdateBoutique()"><i class="material-icons s-16">edit</i></button> </td>
    </ng-container> -->

    <ng-container matColumnDef="Modifier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Modifier </th>
      <td mat-cell *matCellDef="let row"> {{row.Modifier}}
        <button mat-raised-button (click)="edit(row)">
          <mat-icon class="orange600">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="Supprimer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Supprimer </th>
      <td mat-cell *matCellDef="let row"> {{row.Supprimer}} <button mat-icon-button cdkFocusInitial (click)="deleteProduit()"><i class="material-icons s-16">delete</i></button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  
</div>