<div fxLayout="column" fxLayoutGap="10px">
  <div>
    <button mat-raised-button color="accent" [routerLink]="['nouvelle-demande-Formulaire']">Nouvelle demande</button>
  </div>
<!-- <div class="py-8"><button mat-raised-button color="accent" (click)="crudComp.openCreateLigneCredit()">Ajouter une ligne de credit</button></div> -->
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="objet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Objet </th>
        <td mat-cell *matCellDef="let row">  {{row.objet}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.dateCreated | date : format : shortDate}}</td>
      </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="destinataire">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Destinataire</th>
        <td mat-cell *matCellDef="let row"> {{row.destinataire}} </td>
      </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="statut">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
          <td mat-cell *matCellDef="let row"> 
            <div *ngIf="row.isValid === false">
              <span style="color:red">en attente</span> 
            </div>
            <div *ngIf="row.isValid === true">
                <span style="color:green">validé </span>
            </div>
          </td>
        </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="Supprimer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Details </th>
        <td mat-cell *matCellDef="let row" > {{row.Supprimer}}
            <div *ngIf="row.isValid === true">
                <a [routerLink]="['/demande-financement/details-paiement',row.key]"><mat-icon>zoom_out_map</mat-icon></a>
            </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>

