
<mat-dialog-content class="mat-typography">
    <div class="title">
        <h2 mat-dialog-title >Details Demande Agreement</h2>
        </div>
<form class="example-container">
        <div fxLayout="column">
                    <div>
                        <mat-form-field style="width:50%">
                            <input matInput type="text"  value="{{row.animateurID}}" disabled>
                        </mat-form-field>
                    </div> 
                        <div>
                            <mat-form-field style="width:100%"> 
                                <textarea matInput value="{{row.description}}" disabled></textarea>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row">
                            <div style="width:50%">
                                <mat-form-field class="example-full-width">
                                    <input matInput [matDatepicker]="picker1" placeholder="Date de début" [formControl]="dateDebValidite" [(ngModel)]="agreement.dateDebValidite">
                                    <mat-datepicker-toggle matSuffix [for]="picker1">
                                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div style="width:50%">
                                <mat-form-field class="example-full-width">
                                    <input matInput [matDatepicker]="picker2" placeholder="Date de fin" [formControl]="dateFinValidite" [(ngModel)]="agreement.dateFinValidite">
                                    <mat-datepicker-toggle matSuffix [for]="picker2">
                                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div> 
                        </div>
                        <div fxLayout="row">
                                <div style="width:50%">
                                    <mat-form-field style="width:50%">
                                        <mat-select placeholder="statut" [formControl]="statutDemande" [(ngModel)]="agreement.statutDemande">
                                        <mat-option value="valider">Valider</mat-option>
                                        <mat-option value="rejeter">Rejeter</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div style="width:50%">
                                    <mat-form-field style="width:100%">
                                        <mat-select placeholder="Plafond" [formControl]="niveauAgreement" [(ngModel)]="agreement.niveauAgreement">
                                        <mat-option value="1">découvert périodique</mat-option>
                                        <mat-option value="2">refinancement crédit</mat-option>
                                        <mat-option value="3">dépôt périodique</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div> 
                        </div>
                    </div>
  
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>
  <button mat-raised-button color="accent" (click)=updateAgrement() [mat-dialog-close]="true"><mat-icon matPrefix>save_alt</mat-icon>Enregistrer</button>
</mat-dialog-actions>