
<mat-dialog-content class="mat-typography">
    <div class="title">
        <h2 mat-dialog-title >Details Demande Agreement</h2>
        </div>
<form class="example-container">
        <div fxLayout="column" fxFlex="50px">
               
             
                  <div fxLayout="row" style="margin-top: -3%;"fxLayout.xs="column" fxLayoutGap="5px">
                    <div>
                          <mat-form-field>
                              <mat-select placeholder="Role demandé" >
                                <mat-option value="option">Fournisseur</mat-option>
                                <mat-option value="option">Acheteur</mat-option>
                              </mat-select>
                          </mat-form-field>
                    </div> 
                     <div >
                            <!--<mat-form-field>
                                  
                                   <mat-select placeholder="Niveau Agreement"  [(ngModel)]="agreement.niveauAgreement" [formControl]="niveauAgreement" >
                                     <mat-option  value="{{row.niveauAgreement}}">Niveau agreement 3</mat-option>
                                   </mat-select>
                               </mat-form-field> -->
                               <mat-form-field>
                                    <input matInput placeholder="Niveau Agreement " value="{{row.niveauAgreement}}">
                                </mat-form-field>
                     </div> 
                  </div>
                  <div fxLayout="row" >
                        <div style="margin-top:33%">
                                <mat-slide-toggle> Urgent</mat-slide-toggle>
                        </div>
                        <div style="margin-left:91%">
                            <mat-form-field>
                                <input matInput placeholder="Numero Agreement " value="{{row.numeroAgrement}}">
                              </mat-form-field>
                          </div>
                  </div> 
                  
             
                    <div fxLayout="row"fxLayout.xs="column" fxLayoutGap="5px">
                      
                        <div>
                            <mat-form-field  style="margin-top: -75%;"> 
                                <label>Date Debut</label><br>
                                <input matInput type="date"  [(ngModel)]="agreement.dateDebValidite" [formControl]="dateDebValidite" >
                                <mat-icon matSuffix>date_range</mat-icon>
                            </mat-form-field>
                        </div>
                        <div>
                                <mat-form-field  style="margin-left: 7%;margin-top: -75%;"> 
                                    <label>Date Fin</label><br>
                                    <input matInput type="date"  [(ngModel)]="agreement.dateDebValidite" [formControl]="dateDebValidite" >
                                    <mat-icon matSuffix>date_range</mat-icon>
                                </mat-form-field>
                            </div>
                    </div>
                    <div fxLayout="row" style="margin-top: -3%;"fxLayout.xs="column" fxLayoutGap="5px">
                            <div>
                                  <mat-form-field>
                                      <mat-select placeholder="Soumission" >
                                        <mat-option value="option">Valider</mat-option>
                                        <mat-option value="option">Rejeter</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                            </div> 
                            <div  >
                                    <mat-slide-toggle style="margin-top: 30%;margin-left:33%"
                                    ngDefaultControl (change)="onChange($event)" [checked]="device"> Statut</mat-slide-toggle>
                            </div>
                            
                    </div>
              </div>
  
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="true"><mat-icon matPrefix>save_alt</mat-icon>Enregistrer</button>
</mat-dialog-actions>