
<mat-dialog-content class="mat-typography">
    <div class="title">
        <h2 mat-dialog-title >Modification Ligne de Credit</h2>
    </div>
        <button href="#" class="edit"><mat-icon matPrefix>how_to_reg</mat-icon>Editer</button>
       <form class="example-container">
         <div fxLayout="column" fxFlex="50px">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" [formGroup]="ligneCreditForm">
              
                  <mat-form-field >
                      <input matInput placeholder=" Libelle"   [(ngModel)]="row.libelle"  formControlName="libelle" name="libelle">
                    </mat-form-field>   
            </div>
        
          <div fxLayout="row" style="margin-top: -3%;" fxLayout.xs="column" fxLayoutGap="5px" [formGroup]="ligneCreditForm">
            <mat-form-field style="width: 200%;">
               <textarea matInput placeholder="Description" [(ngModel)]="row.description"  formControlName="description" name="description"></textarea>
            </mat-form-field>
          </div>
            <div fxLayout="row" style="margin-top: -3%;" fxLayout.xs="column" fxLayoutGap="5px" [formGroup]="ligneCreditForm">
                
                    <mat-form-field >
                        <input matInput placeholder="Nouveau Montant" type="number" [(ngModel)]="row.montant" formControlName="montant" name="montant">
                        <span matPrefix>$&nbsp;</span> 
                    </mat-form-field>       
           </div>

        </div>
        </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-raised-button class="save" color="" [mat-dialog-close]="true" cdkFocusInitial (click)="updateLigneCredit()">Enregistrer</button>
</mat-dialog-actions>