<div fxLayout="row" fxLayoutGap="30px">
  <div fxFlex="70">
    <div fxLayoutAlign="center center">
        <h2>Liste des produits validés</h2>
    </div>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef> Code </th>
              <td mat-cell *matCellDef="let element"> {{element.code}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="designation">
              <th mat-header-cell *matHeaderCellDef> Designation </th>
              <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="descriptionProduit">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.descriptionProduit}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="prixUnitaire">
                <th mat-header-cell *matHeaderCellDef> Prix </th>
                <td mat-cell *matCellDef="let element"> {{element.prixUnitaire}} </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
            </tr>
        </table>
    </div>
  </div>
  <div fxFlex="30">
      <div fxLayout="column" fxLayouAlign="center center">
          <div fxLayoutAlign="center center">
              <h2>Detais paiement</h2>
          </div>
          <mat-card>
              <div style="width:100%">
                  <mat-form-field style="width:100%">
                      <mat-select style="width:100%" placeholder="Mode livraison" [(ngModel)]="financement.modeLivraison" [formControl]="modeLivraison">
                        <mat-option value="express">Express <span class="price"> - 5000 XOF</span> </mat-option>
                        <mat-option value="normal">Normal  <span class="price"> - 4000 XOF</span></mat-option>
                      </mat-select>
                  </mat-form-field>
              </div> 
          </mat-card>
          &nbsp;
          <mat-card>
              <div style="width:100%">
                  <mat-form-field style="width:100%">
                      <mat-select placeholder="livreur" [(ngModel)]="financement.livreur" [formControl]="livreur">
                        <mat-option *ngFor="let livreur of serviceList" value={{livreur.nIdProprietaire}}>{{livreur.nom}} - {{livreur.description}}</mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
          </mat-card>
            &nbsp;
          <mat-card>
              <div style="width:100%">
                  <mat-checkbox>à la charge de l'acheteur</mat-checkbox>
              </div>
          </mat-card>
          <div style="margin-top:2%">
              <button mat-raised-button (click)="validerPaimement()" color="accent">Valider le paiement</button>
          </div>
      </div>
  </div>
</div>


