.margin-right-icon{
    margin-right: 0px;
}
.color-button-registration{
    background-color: #0d904f !important;
    color: white !important;
    font-weight: normal;
    margin-left: 16px !important;
    margin-right: 0px !important;
}