<div fxLayout="column" fxLayoutGap="30px" class="px-24">

  <div fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column">
    <a [routerLink]="['boutique-list']" fxFlex="50" class="panel">
      <div>
          <span class="title">Boutique</span>
      </div>
    </a>
    <a [routerLink]="['produit-list']" fxFlex="50" class="panel">
      <div>
        <span class="title">Produit </span>
      </div>
    </a>
    <a [routerLink]="['magasin-list']" fxFlex="50" class="panel">
      <div>
        <span class="title">Magasin </span>
      </div>
    </a>
  
  </div>
</div>

