<div fxFlex="100" fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="20px"> 
  <div fxFlex="35">
    <a [routerLink]="['gestion-utlisateurs']" style="text-decoration:none !important">
      <mat-card style="height:10em" class="card-acces-user">
          <mat-card-title>
              Gestion Utilisateurs
          </mat-card-title>
          <mat-card-content>
            
          </mat-card-content>
      </mat-card>
    </a>
  </div>
  <div fxFlex="35">
    <a [routerLink]="['gestion-roles']" style="text-decoration:none !important">
        <mat-card class="card-acces-role">
            <mat-card-title>
                Gestion Roles
            </mat-card-title>
            <mat-card-content>
              
            </mat-card-content>
        </mat-card>
    </a>
  </div>
</div>
