<div class="width margin" fxLayout="row" fxLayoutAlign="space-around" fxFlex="30" fxFlexOffset="5">
  <mat-card class="width card-padding">
    <mat-card-header class="profile-back"> 
    </mat-card-header>
    <img mat-card-image class="image-header" src="../../assets/images/cards/img_profile.png">
    <mat-card-content>
        <h3>{{user.username}}</h3>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <ul>
            <li>
                <span><b>Followers</b></span>
                <span class="align-right">1.234</span>
            </li>
            <li>
                <span><b>Following</b></span>
                <span class="align-right">1.201</span>
            </li>
        </ul>
    </mat-card-actions>
  </mat-card>
</div>
<div class="width margin" fxLayout="row" fxLayoutAlign="space-around" fxFlex="50" fxFlexOffset="5">
  <mat-card class="width">
    <mat-card-content>
      <h1 class="title-color">Les informations</h1>
        <mat-list>
          <mat-list-item><span><b>Prénom</b>&nbsp;:&nbsp;</span><span>{{user.firstName}}</span></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span><b>Nom</b>&nbsp;:&nbsp;</span><span>{{user.lastName}}</span></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span><b>Email</b>&nbsp;:&nbsp;</span><span>{{user.mail}}</span></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><span><b>Téléphone</b>&nbsp;:&nbsp;</span><span>{{user.phoneNumber}}</span></mat-list-item>
        </mat-list>
    </mat-card-content>
  </mat-card>
</div>