.image-header {
    background-image: url('../../assets/images/cards/img_profile.png');
    background-size: cover;
  }

.width{
  width:100%;
}
.margin {
  margin-top: 50px;
}

.margin1{
  margin-left:200px;
  margin-right:200px;
}