
<mat-dialog-content class="mat-typography">
        <div class="title">
            <h2 mat-dialog-title >Creation Produit/Service</h2>
            </div>
    <form class="example-container">
          <div fxLayout="column" fxFlex="100px">
                <div class="container">
                        <!-- <div class="card">
                          <div class="card-body">
                            <input type="file" (change)="upload($event)" accept=".png,.jpg" />
                          </div>
                        </div>
                      </div> -->
                         <label>
                            <input type="file" (change)="detectFiles($event)">
                         </label>
                         <br/>
                         <button mat-raised-button	 (click)="uploadSingle()">
                           Upload Image
                         </button>
                         
                </div>
                <div *ngIf="active">
                    <mat-spinner diameter="30"></mat-spinner>
                </div>
              <div fxLayout="row">
                  <div>
                      <mat-form-field>
                          <input matInput placeholder="Code" [(ngModel)]="produit.code" [formControl]="code">
                        </mat-form-field>
                     
                  </div>
                  
                  <div style="margin-left: 130%;">
                        <mat-form-field>
                                <mat-select placeholder="Boutique" [(ngModel)]="boutique.idBoutique" [formControl]="idBoutique">

                                    <mat-option *ngFor="let b of boutiqueList" [value]="b.idBoutique" >{{b.nom}}</mat-option>

                                </mat-select>
                           </mat-form-field>
                           
                    </div>

              </div>
              <div fxLayout="row" style="margin-top: -3%;"fxLayout.xs="column" fxLayoutGap="5px">
                    <div>
                          <mat-form-field style="width: 200%;">
                                  <textarea matInput placeholder="Designation" [(ngModel)]="produit.designation" [formControl]="designation"></textarea>
                           </mat-form-field>
                       
                    </div>
                  
                </div>
              <div fxLayout="row" style="margin-top: -3%;"fxLayout.xs="column" fxLayoutGap="5px">
                  <div>
                        <mat-form-field style="width: 200%;">
                                <textarea matInput placeholder="Description " [(ngModel)]="produit.descriptionProduit" [formControl]="descriptionProduit"></textarea>
                         </mat-form-field>
                     
                  </div>
                
              </div>
           
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                   
                  <div>    
                        <mat-form-field>
                        <input matInput placeholder="Prix Unitaire" [(ngModel)]="produit.prixUnitaire" [formControl]="prixUnitaire">
                        </mat-form-field>
                  </div>
                 
                  <div >
                    <mat-form-field>
                            <mat-select placeholder="chosir un domaine" [(ngModel)]="produit.domaine" [formControl]="domaine">

                                <mat-option value="Agriculture" >Agriculture</mat-option>
                                <mat-option value="Peche" >Pèche</mat-option>
                                <mat-option value="Artisanat" >Artisanat</mat-option>
                                <mat-option value="Elevage" >Elevage</mat-option>
                                <mat-option value="Technologie" >Technologie</mat-option>
                                <mat-option value="Commerce" >Commerce</mat-option>
                                <mat-option value="Service" >Service</mat-option>
                                <mat-option value="Autre" >Autre</mat-option>

                            </mat-select>
                       </mat-form-field>
                       
                </div>

              </div>
              <!-- <div fxLayout="row" style="margin-top: 40%;"fxLayout.xs="column" fxLayoutGap="5px">
                    <div>
                        <mat-form-field>
                            <mat-select placeholder="Boutique" >
                                <mat-option value="option">Boutique N</mat-option>
                            </mat-select>
                       </mat-form-field>
                    </div>
                    <div style="margin-left: 76%; margin-top: -14%;">
                            <mat-dialog-actions>
                                    <button  mat-raised-button color="primary">+ Boutique</button>
                                  </mat-dialog-actions>
                      </div>
                    
                      <div style="margin-left: 54%;margin-top: -14%;">
                            <mat-dialog-actions>
                                    <button mat-raised-button color="primary">- Boutique</button>
                            </mat-dialog-actions>
                      </div>

            </div>
                <div fxLayout="row" style="margin-top: 13%;" fxLayout.xs="column" fxLayoutGap="5px">
                        <div>
                            <mat-form-field>
                                <mat-select placeholder="Type Magasin" >
                                  <mat-option value="option">Magasin M(QTY=220)</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div style="margin-top: -2%;margin-left: 25%;">
                            <mat-form-field style ="width: 60%;">
                                <input matInput placeholder="QTY">
                            </mat-form-field>
                        </div>
                      <div style="margin-left: -255%; margin-top: -14%;">
                              <mat-dialog-actions>
                                      <button  mat-raised-button color="primary" class="add">+ Magasin</button>
                                    </mat-dialog-actions>
                        </div>
                      
                        <div style="margin-left: 54%;margin-top: -14%;">
                              <mat-dialog-actions>
                                      <button mat-raised-button color="primary" class="acheteur">- Magasin</button>
                                    </mat-dialog-actions>
                        </div>
                      
                    </div>
     -->
              
           
              
            </div>
       
      
    </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
      <button mat-raised-button style="background-color: #e2fea6 !important" [mat-dialog-close]="true" cdkFocusInitial (click)="createNewProduit()">Enregistrer</button>
    </mat-dialog-actions>