<div fxLayout="row" fxLayoutAlign="center center" class="title-top">
  <div>
    <h2 class="title">LISTE DEMANDE AGREEMENT</h2>
  </div>
</div>
<!-- <div class="py-8"><button mat-raised-button color="accent" (click)="crudComp.openCreateLigneCredit()">Ajouter une ligne de credit</button></div> -->
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

     <!-- ID Column -->
     <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let row"> {{row.userName}} </td>
      </ng-container>

      <!-- ID Column -->
    <ng-container matColumnDef="userPrenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
        <td mat-cell *matCellDef="let row"> {{row.userPrenom}} </td>
      </ng-container>

      <!-- Progress Column -->
    <ng-container matColumnDef="juridique">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut juridique </th>
        <td mat-cell *matCellDef="let row"> {{row.juridique}} </td>
      </ng-container>

      <!-- Progress Column -->
    <ng-container matColumnDef="ninea">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ninea </th>
        <td mat-cell *matCellDef="let row"> {{row.ninea}} </td>
      </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de création </th>
      <td mat-cell *matCellDef="let row"> {{row.dateCreated | date : format : shortDate}} </td>
    </ng-container>


    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
      </ng-container>
    
      <!-- Color Column -->
      <ng-container matColumnDef="Approuver">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Approuver </th>
        <td mat-cell *matCellDef="let row"> {{row.Approuver}}
          <button mat-raised-button (click)="validerAgrement(row)">
              <mat-icon color="accent">done_outline</mat-icon>
            </button>
        </td>
      </ng-container>

    <!-- Color Column -->
    <!-- <ng-container matColumnDef="Modifier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Modifier </th>
      <td mat-cell *matCellDef="let row"> {{row.Modifier}}
        <button mat-raised-button (click)="crudComp.openUpdateLigneCredit()">
          <mat-icon class="orange600">edit</mat-icon>
        </button>
      </td>
    </ng-container> -->

    <!-- Color Column -->
    <ng-container matColumnDef="Rejeter">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Rejeter </th>
      <td mat-cell *matCellDef="let row" > {{row.Rejeter}}
          <button mat-raised-button (click)="rejeterDemande(row.key,row.userID)">
              <mat-icon class="red600">delete</mat-icon>
            </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>