<div fxLayout="row" fxLayoutAlign="center center" class="title-top">
  <div>
    <h2 class="title">LISTE DEMANDE AGREEMENT</h2>
  </div>
</div>
<!-- <div class="py-8"><button mat-raised-button color="accent" (click)="crudComp.openCreateLigneCredit()">Ajouter une ligne de credit</button></div> -->
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="emetteur">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Emetteur </th>
      <td mat-cell *matCellDef="let row"> {{row.animateurID}} {{row.fournisseurID}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de création </th>
      <td mat-cell *matCellDef="let row"> {{row.dateCreated | date : format : shortDate}} </td>
    </ng-container>


    
      <!-- Color Column -->
      <ng-container matColumnDef="Details">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Details </th>
        <td mat-cell *matCellDef="let row"> {{row.Details}}
          <button mat-raised-button (click)="edit(row)" >
            <mat-icon class="orange600">details</mat-icon>
          </button>
        </td>
      </ng-container>

    <!-- Color Column -->
    <!-- <ng-container matColumnDef="Modifier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Modifier </th>
      <td mat-cell *matCellDef="let row"> {{row.Modifier}}
        <button mat-raised-button (click)="crudComp.openUpdateLigneCredit()">
          <mat-icon class="orange600">edit</mat-icon>
        </button>
      </td>
    </ng-container> -->

    <!-- Color Column -->
    <ng-container matColumnDef="Supprimer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Supprimer </th>
      <td mat-cell *matCellDef="let row" > {{row.Supprimer}}
        <button mat-raised-button>
          <mat-icon class="red600">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>