navbar-horizontal-style-1 {
    
}
.top-navbar {
    display: block !important;
}
navbar {

    &.horizontal-style-1 {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 100%;
        height: 34px;
        max-height: 34px;
        min-height: 34px;
    }
}